<div class="message">
  {{#if message.sender}}
    <div class="sender">{{message.sender}}</div>
  {{/if}}

  {{#if showGif}}
    {{giphy-image search=message.body}}
  {{else}}
    <div class="body">{{message.body}}</div>
  {{/if}}
</div>
