<div class="chat">
  <div class="log">
    {{#each chat.messages as |message|}}
      {{chat-message message=message}}
    {{/each}}
  </div>

  {{message-composer sendMessage=(action 'sendMessage')}}
</div>
