<div class="chat">
  <div class="log">
    {{#each chat.messages as |message|}}
      {{chat-message message=message giphyMode=giphyMode}}
    {{/each}}
  </div>

  {{message-composer giphyMode=giphyMode
                     sendMessage=(action 'sendMessage')
                     toggleGiphyMode=(action 'toggleGiphyMode')}}
</div>
